.wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(1fr, 4);
}

input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.emptybox {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid white;
}

.quarter, .half, .full {
  padding: 12px 20px;
  margin: 8px 0;
}

.quarter {
  grid-column-end: span 1;
}

.half {
  grid-column-end: span 2;
}

.full {
  grid-column-end: span 4;
}